<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>

<body>

    <header>
        <div class="menuNavegacao">
            <ul>
                <li>Reservar Acomodação</li>
                <li>Realizar Cadastros</li>
                <ul>
                    <li>Acomodação</li>
                    <li>Cliente</li>
                    <li>Funcionário</li>
                </ul>
                <li>Consultar Disponibilidade</li>
                <li>Informações Adicionais</li>
            </ul>
        </div>
    </header>

    <main>

        <form>

            <label for="nomeQuarto">Nome:</label>
            <input type="text" name="nome" id="nome"><br>

            <label for="nomeQuarto">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome"><br>

            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" name="dataNascimento" id="dataNascimento"><br>

            <label for="documento">Documento:</label>
            <input type="text" name="documento" id="documento" placeholder="___.___.___-__"><br>
            
            <label for="telefoneContato">Telefone:</label>
            <input type="telefoneContato" name="telefone" id="telefone" placeholder="(__)_____-____"><br>
            
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"><br>

            <input type="submit">

        </form>

    </main>

    <footer>

    </footer>

</body>
</html>