<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Acomodação</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleCadastroQuarto.css">
</head>

<body>

    <header>
        <div class="menuNavegacao">
            <ul>
                <li>Reservar Acomodação</li>
                <li>Realizar Cadastros</li>
                <ul>
                    <li>Acomodação</li>
                    <li>Cliente</li>
                </ul>
                <li>Consultar Disponibilidade</li>
                <li>Informações Adicionais</li>
            </ul>
        </div>
    </header>

    <main>

        <div class="mainFormContent">
            <section class="setorFormulario">
                <h1 class="tituloForm">Cadastro Acomodação</h1>
                <form class="cadastroForm">
                    <div class="sectionForm">
                        <label for="nomeQuarto">Nome do Quarto:</label>
                        <input type="text" name="nomeQuarto" id="nomeQuarto" class="campo"><br><br>
                        <label for="tiposQuarto">Modelo:</label>
                        <select id="tiposQuarto" class="campo">
                            <option value="suite">Acomodação Simples</option>
                            <option value="suite VIP">Acomodação Padrão</option>
                            <option value="familia">Acomodação Luxo</option>
                        </select>
                        <label for="custoDia">Custo da Diária:</label>
                        <input type="number" name="custoDia" id="custoDia" class="campo"><br><br>
                        <label for="descricaoQuarto">Breve Descrição:</label><br>
                        <textarea name="descricaoQuarto" id="descricaoQuarto" cols="91" rows="5" class="campo"></textarea><br>
                        <label for="imagemQuarto">Selecione imagens do quarto:</label>
                        <input type="file" name="imagensQuarto[]" id="imagemQuarto" accept="image/png, image/jpeg" multiple class="campo"><br>
                        <input type="submit" class="campo button" name="enviar" id="enviar">
                    </div>
                </form>
            </section>
            <section class="setorLogo">
                <picture class="logoForm">
                    <source>
                    <img src="img/logo_400px.png" alt="" class="imageBanner">
                </picture>
            </section>
        </div>

    </main>

    <footer>

    </footer>

</body>
</html>