<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <div class="menuNavegacao">
            <ul>
                <li>Reservar Acomodação</li>
                <li>Realizar Cadastros</li>
                <ul>
                    <li>Acomodação</li>
                    <li>Cliente</li>
                    <li>Funcionário</li>
                </ul>
                <li>Consultar Disponibilidade</li>
                <li>Informações Adicionais</li>
            </ul>
        </div>
    </header>

    <main>

        <form>

            <label for="nomeQuarto">Nome:</label>
            <input type="text" name="nome" id="nome"><br>

            <label for="estados-brasil">Estado: </label>
            <select name="estados-brasil">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select><br>

            <label for="cidade">Cidade: </label>
            <input type="text" name="cidade" id="cidade"><br>
            
            <label for="rua">Rua: </label>
            <input type="text" name="rua" id="rua"><br>
            
            <label for="numero">Número: </label>
            <input type="text" name="numero" id="numero"><br>

            <label for="documento">CPF:</label>
            <input type="text" name="documento" id="documento" placeholder="___.___.___-__"><br>

            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" name="dataNascimento" id="dataNascimento"><br>
            
            <label for="telefoneContato">Telefone:</label>
            <input type="telefoneContato" name="telefone" id="telefone" placeholder="(__)_____-____"><br>
            
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"><br>

            <input type="submit">

        </form>

    </main>

    <footer>

    </footer>

</body>
</html>