#documento {
    margin-left: 1.2em;
    margin-right: 4.3em;
}

#nome {
    width: 40em;
}

#estados-brasil {
    margin-right: 5.3em;
}

#cidade {
    margin-left: 0.8em;
}

#rua {
    margin-left: 1.5em;
    margin-right: 4.1em;
}

#telefone {
    margin-right: 2.8em;
}